src/main/resources/ws/schema/isp.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webService.housingauthority.gov.hk" xmlns:impl="http://webService.housingauthority.gov.hk" xmlns:intf="http://webService.housingauthority.gov.hk" xmlns:tns2="http://dtms.model.isp.housingauthority.gov.hk" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://dtms.model.isp.housingauthority.gov.hk" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <complexType name="ISPApproveRejectAppRequestContext">
    <sequence>
     <element name="applicationType" nillable="true" type="xsd:string"/>
     <element name="applicationReferenceNumber" nillable="true" type="xsd:string"/>
     <element name="custKey" nillable="true" type="xsd:string"/>
     <element name="appKey" nillable="true" type="xsd:string"/>
     <element name="approveRejectDate" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="xsd:string"/>
     <element name="rejectReasonCode" nillable="true" type="xsd:string"/>
     <element name="rejectReasonRemark" nillable="true" type="xsd:string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="attachmentReferenceKeyList" nillable="true" type="xsd:string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="drawingsReferenceKeyList" nillable="true" type="xsd:string"/>
     <element name="tenantSalutation" nillable="true" type="xsd:string"/>
     <element name="tenantName" nillable="true" type="xsd:string"/>
     <element name="remarksToTenant" nillable="true" type="xsd:string"/>
     <element name="bccEmail1" nillable="true" type="xsd:string"/>
     <element name="bccEmail2" nillable="true" type="xsd:string"/>
     <element name="bccEmail3" nillable="true" type="xsd:string"/>
     <element name="officerName" nillable="true" type="xsd:string"/>
     <element name="officerPostOfficeName" nillable="true" type="xsd:string"/>
     <element name="officePhoneNumber" nillable="true" type="xsd:string"/>
     <element name="submitterID" nillable="true" type="xsd:string"/>
     <element name="submitterPost" nillable="true" type="xsd:string"/>
     <element name="approverID" nillable="true" type="xsd:string"/>
     <element name="approverPost" nillable="true" type="xsd:string"/>
     <element name="callingSystem" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ISPApproveRejectAppResponseContext">
    <sequence>
     <element name="resultCode" nillable="true" type="xsd:string"/>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="errorDescription" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ISPPreviewEmailRequestContext">
    <sequence>
     <element name="applicationType" nillable="true" type="xsd:string"/>
     <element name="applicationReferenceNumber" nillable="true" type="xsd:string"/>
     <element name="custKey" nillable="true" type="xsd:string"/>
     <element name="appKey" nillable="true" type="xsd:string"/>
     <element name="approveRejectDate" nillable="true" type="xsd:string"/>
     <element name="status" nillable="true" type="xsd:string"/>
     <element name="rejectReasonCode" nillable="true" type="xsd:string"/>
     <element name="rejectReasonRemark" nillable="true" type="xsd:string"/>
     <element name="tenantSalutation" nillable="true" type="xsd:string"/>
     <element name="tenantName" nillable="true" type="xsd:string"/>
     <element name="remarksToTenant" nillable="true" type="xsd:string"/>
     <element name="bccEmail1" nillable="true" type="xsd:string"/>
     <element name="bccEmail2" nillable="true" type="xsd:string"/>
     <element name="bccEmail3" nillable="true" type="xsd:string"/>
     <element name="officerName" nillable="true" type="xsd:string"/>
     <element name="officerPostOfficeName" nillable="true" type="xsd:string"/>
     <element name="officePhoneNumber" nillable="true" type="xsd:string"/>
     <element name="applicationLanguage" nillable="true" type="xsd:string"/>
     <element name="callingSystem" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ISPPreviewEmailResponseContext">
    <sequence>
     <element name="resultCode" nillable="true" type="xsd:string"/>
     <element name="emailContent" nillable="true" type="xsd:string"/>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="errorDescription" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ISPEstateFloorPlanRequestContext">
    <sequence>
     <element name="estateCode" nillable="true" type="xsd:string"/>
     <element name="applicationLanguage" nillable="true" type="xsd:string"/>
     <element name="callingSystem" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ISPEstateFloorPlanResponseContext">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="ISPEstateFloorPlanVO" nillable="true" type="tns2:ISPEstateFloorPlanVO"/>
     <element name="resultCode" nillable="true" type="xsd:string"/>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="errorDescription" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ISPEstateFloorPlanVO">
    <sequence>
     <element name="floorPlanReferenceKey" nillable="true" type="xsd:string"/>
     <element name="floorPlanTitle" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ISPRejectReasonRequestContext">
    <sequence>
     <element name="applicationType" nillable="true" type="xsd:string"/>
     <element name="language" nillable="true" type="xsd:string"/>
     <element name="callingSystem" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ISPRejectReasonResponseContext">
    <sequence>
     <element name="resultCode" nillable="true" type="xsd:string"/>
     <element maxOccurs="unbounded" minOccurs="0" name="ISPRejectReasonVO" nillable="true" type="tns2:ISPRejectReasonVO"/>
     <element name="errorCode" nillable="true" type="xsd:string"/>
     <element name="errorDescription" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ISPRejectReasonVO">
    <sequence>
     <element name="reasonCode" nillable="true" type="xsd:string"/>
     <element name="reasonDescription" nillable="true" type="xsd:string"/>
     <element name="mandatoryIndicator" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
    <schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://webService.housingauthority.gov.hk" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns2="http://dtms.model.isp.housingauthority.gov.hk" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://dtms.model.isp.housingauthority.gov.hk"/>
   <element name="completeISPSubmissionCaseResponse">
    <complexType>
     <sequence>
      <element name="completeISPSubmissionCaseReturn" nillable="true" type="tns2:ISPApproveRejectAppResponseContext"/>
     </sequence>
    </complexType>
   </element>
   <element name="previewEmail">
    <complexType>
     <sequence>
      <element name="input" nillable="true" type="tns2:ISPPreviewEmailRequestContext"/>
     </sequence>
    </complexType>
   </element>
   <element name="previewEmailResponse">
    <complexType>
     <sequence>
      <element name="previewEmailReturn" nillable="true" type="tns2:ISPPreviewEmailResponseContext"/>
     </sequence>
    </complexType>
   </element>
   <element name="helloWorld">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="helloWorldResponse">
    <complexType>
     <sequence>
      <element name="helloWorldReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="init">
    <complexType>
     <sequence>
      <element name="context" nillable="true" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="initResponse">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="estateFloorPlanMapping">
    <complexType>
     <sequence>
      <element name="input" nillable="true" type="tns2:ISPEstateFloorPlanRequestContext"/>
     </sequence>
    </complexType>
   </element>
   <element name="estateFloorPlanMappingResponse">
    <complexType>
     <sequence>
      <element name="estateFloorPlanMappingReturn" nillable="true" type="tns2:ISPEstateFloorPlanResponseContext"/>
     </sequence>
    </complexType>
   </element>
   <element name="healthCheck">
    <complexType>
     <sequence>
      <element name="message" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="healthCheckResponse">
    <complexType>
     <sequence>
      <element name="healthCheckReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="destroy">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="destroyResponse">
    <complexType>
     <sequence/>
    </complexType>
   </element>
   <element name="retrieveRejectReason">
    <complexType>
     <sequence>
      <element name="input" nillable="true" type="tns2:ISPRejectReasonRequestContext"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveRejectReasonResponse">
    <complexType>
     <sequence>
      <element name="retrieveRejectReasonReturn" nillable="true" type="tns2:ISPRejectReasonResponseContext"/>
     </sequence>
    </complexType>
   </element>
   <element name="completeISPSubmissionCase">
    <complexType>
     <sequence>
      <element name="input" nillable="true" type="tns2:ISPApproveRejectAppRequestContext"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  </wsdl:types>
  <wsdl:message name="retrieveRejectReasonResponse">
    <wsdl:part element="impl:retrieveRejectReasonResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyResponse">
    <wsdl:part element="impl:destroyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveRejectReasonRequest">
    <wsdl:part element="impl:retrieveRejectReason" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="healthCheckRequest">
    <wsdl:part element="impl:healthCheck" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initRequest">
    <wsdl:part element="impl:init" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="previewEmailRequest">
    <wsdl:part element="impl:previewEmail" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="completeISPSubmissionCaseResponse">
    <wsdl:part element="impl:completeISPSubmissionCaseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="initResponse">
    <wsdl:part element="impl:initResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloWorldResponse">
    <wsdl:part element="impl:helloWorldResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="previewEmailResponse">
    <wsdl:part element="impl:previewEmailResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="completeISPSubmissionCaseRequest">
    <wsdl:part element="impl:completeISPSubmissionCase" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="healthCheckResponse">
    <wsdl:part element="impl:healthCheckResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="helloWorldRequest">
    <wsdl:part element="impl:helloWorld" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="destroyRequest">
    <wsdl:part element="impl:destroy" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="estateFloorPlanMappingRequest">
    <wsdl:part element="impl:estateFloorPlanMapping" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="estateFloorPlanMappingResponse">
    <wsdl:part element="impl:estateFloorPlanMappingResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DTMSService">
    <wsdl:operation name="completeISPSubmissionCase">
      <wsdl:input message="impl:completeISPSubmissionCaseRequest" name="completeISPSubmissionCaseRequest">
    </wsdl:input>
      <wsdl:output message="impl:completeISPSubmissionCaseResponse" name="completeISPSubmissionCaseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="previewEmail">
      <wsdl:input message="impl:previewEmailRequest" name="previewEmailRequest">
    </wsdl:input>
      <wsdl:output message="impl:previewEmailResponse" name="previewEmailResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="helloWorld">
      <wsdl:input message="impl:helloWorldRequest" name="helloWorldRequest">
    </wsdl:input>
      <wsdl:output message="impl:helloWorldResponse" name="helloWorldResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init">
      <wsdl:input message="impl:initRequest" name="initRequest">
    </wsdl:input>
      <wsdl:output message="impl:initResponse" name="initResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estateFloorPlanMapping">
      <wsdl:input message="impl:estateFloorPlanMappingRequest" name="estateFloorPlanMappingRequest">
    </wsdl:input>
      <wsdl:output message="impl:estateFloorPlanMappingResponse" name="estateFloorPlanMappingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="healthCheck">
      <wsdl:input message="impl:healthCheckRequest" name="healthCheckRequest">
    </wsdl:input>
      <wsdl:output message="impl:healthCheckResponse" name="healthCheckResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroy">
      <wsdl:input message="impl:destroyRequest" name="destroyRequest">
    </wsdl:input>
      <wsdl:output message="impl:destroyResponse" name="destroyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveRejectReason">
      <wsdl:input message="impl:retrieveRejectReasonRequest" name="retrieveRejectReasonRequest">
    </wsdl:input>
      <wsdl:output message="impl:retrieveRejectReasonResponse" name="retrieveRejectReasonResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DTMSServiceSoapBinding" type="impl:DTMSService">
<wsaw:UsingAddressing wsdl:required="false"/>
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="completeISPSubmissionCase">
      <wsdlsoap:operation soapAction="completeISPSubmissionCase"/>
      <wsdl:input name="completeISPSubmissionCaseRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="completeISPSubmissionCaseResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="previewEmail">
      <wsdlsoap:operation soapAction="previewEmail"/>
      <wsdl:input name="previewEmailRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="previewEmailResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="helloWorld">
      <wsdlsoap:operation soapAction="helloWorld"/>
      <wsdl:input name="helloWorldRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="helloWorldResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="init">
      <wsdlsoap:operation soapAction="init"/>
      <wsdl:input name="initRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="initResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estateFloorPlanMapping">
      <wsdlsoap:operation soapAction="estateFloorPlanMapping"/>
      <wsdl:input name="estateFloorPlanMappingRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="estateFloorPlanMappingResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="healthCheck">
      <wsdlsoap:operation soapAction="healthCheck"/>
      <wsdl:input name="healthCheckRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="healthCheckResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="destroy">
      <wsdlsoap:operation soapAction="destroy"/>
      <wsdl:input name="destroyRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="destroyResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveRejectReason">
      <wsdlsoap:operation soapAction="retrieveRejectReason"/>
      <wsdl:input name="retrieveRejectReasonRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="retrieveRejectReasonResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DTMSServiceService">
    <wsdl:port binding="impl:DTMSServiceSoapBinding" name="DTMSService">
      <wsdlsoap:address location="http://10.24.2.63:9082/ISP_WebService_Web/services/DTMSService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>